/* src/App.css */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

div {
  text-align: center;
}

input {
  padding: 0.5em;
  margin: 0.5em;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 0.5em 1em;
  border: black solid 2px;
  border-radius: 4px;
  background-color: #eeff00;
  color: rgb(12, 12, 12);
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
